@use 'variables' as *;
@use 'utilities'; // Colors, Effects
@use 'grid'; // Layout System

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-base;
    background-color: $color-background;
    color: $color-text-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}